<div class="main-header">
  <div class="main-chatname">夢への片道切符</div>
  <div class="main-delete-room">
    <a href="#">チャット終了</a>
  </div>
</div>
<div class="main-messages">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'main-form', local: true do |f| %>
  <div class="main-form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
